<!DOCTYPE HTML>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{name}}</title>
</head>

<body>
    <div>
        <ul>
            {{#each tasks}}
                <li>{{ this.description }}</li>
            {{/each}}
        </ul>
    </div>
</body>

</html>