<!DOCTYPE HTML>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Fit Challenge | Users</title>
</head>

<body>
    <div>
        <ul>
            {{#each users}}
                <li>{{this.name}}</li>
            {{/each}}
        </ul>
    </div>
</body>

</html>